# ---------------------------------------------------------------------------
# Репозитории и ref (публичный: make update; приватный: шаг 50, 70)
# ---------------------------------------------------------------------------
PUBLIC_REPO_URL=https://github.com/andrey-khudoley/infrastructure-public.git
PUBLIC_REF=main

REPO_URL=https://github.com/andrey-khudoley/infrastructure-private.git
REF=main
